body {
	margin: 0;
	outline: none;
	font: normal 100%/1.25 Arial, Tahoma, Verdana, Helvetica, sans-serif;
	text-decoration: none;
	text-align: left;
	font-size: 12px;
}

img {border:none;}

a {text-decoration: none;}

ul{margin:0px; padding:0px;}

ul li{list-style: none;}

p{margin: 0px;}

.ClearFix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.ClearFix {
	!display: inline-block;
	!zoom: 1;
	!display: block; 
}

.FL {
	float: left;
}

.FR {
	float: right;
}

.MainContent {
	margin:0 auto;
	width: 960px;
}

.UIPageBody {
	margin:0 auto;
	width: 960px;
	padding: 30px 0px;
	min-height: 400px;
}

/*UIHeader */
.UIHeader {
	background: url("../background/bg_header.png") repeat-x left top;
	height: 139px;
}

.UIMenuTop li {
	float:left;
	display:block;			
	background: url("../background/sperator.png") no-repeat right center;
	padding-right: 2px;	
}
.UIMenuTop {
	background:#474848;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

.UIMenuTop li.last {
	background: none;
	padding: 0px;	
}

.UIMenuTop li  a {
	display:block;
	color:#fff;
	text-transform:uppercase;
	font-size: 10px;
	padding: 0 14px;
	font-family: arial,tahoma,serif;	
	height: 31px;
	line-height: 35px;

}
.UIMenuTop li.last  a {
	background:none;
} 
.UIMenuTop li  a:hover ,.UIMenuTop li.selected  a{
	border-top:4px solid #ffcb08;
	height: 27px;
	line-height: 27px;
}
.UIMenuTop li  a.BlueTab:hover,.UIMenuTop li.selected a.BlueTab {
	border-top:4px solid #b1e4fc;
}

.UIMenuTop li  a.GreenTab:hover,.UIMenuTop li.selected a.GreenTab  {
	border-top:4px solid #3fa2d5;
}

.UIMenuTop li  a.GrayTab:hover,.UIMenuTop li.selected a.GrayTab  {
	border-top:4px solid #c2c2c2;
}

.UIMenuTop li  a.OrangeTab:hover,.UIMenuTop li.selected a.OrangeTab  {
	border-top:4px solid #ffcb08;
}

/*logo*/
.Logo{
	margin-top: 43px;
}
.ClouIntranet {
	text-align:right;
	color: #fff;
	font-size: 18px;
	width: 80%;
}
.ClouIntranet h1 {	
	margin: 10px 0 0 0;
	font-family: Myriad Pro,arial,tahoma;
	font-size: 36px;
	color: #fff;
	font-weight: normal;
	text-align: right;
}

/*UIFooter*/
.UIFooterPortlet {
	background: url("../background/bg-footer.png") repeat-x left top;
	height: 41px;
	color:#a3a4a4;
	line-height: 20px;
	padding-top: 10px;
}

.UIFooterPortlet span a {
	color:#ffcb08;
	font-size: 11px;
}



/* Back icon */
.BackIcon {
	background: url("../background/BackIcon.gif") no-repeat left center;
	padding-left: 10px;
	color: #4283c7;
	display: inline-block;
}

.BackIcon:hover {
	text-decoration: underline;
}

.TenantFormMsg {
	font-size: 18px;
	color: #ff0000;
	text-align: center;
	padding-bottom: 10px;
}

/* Button */
.UIPageBody input.Button {
	background: url("../background/Bg-Button.png") repeat-x left top;
	border: 1px solid #3495b9;
	line-height: 33px;
	height: 38px;
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: Myriad Pro;
	font-size: 18px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 0px 1px 0px #1d7aae;
	cursor: pointer;
	display: block;
	width: 100px;
	text-align: center;
}

/*IndexPage*/
.IndexPage {
	text-align: center;
}

.IndexPage .UIForm input.InputText {
	width: 490px; 
	height: 48px; 
	color: #636363; 
	text-align: center;
}

.IndexPage input.Button {
	margin: 20px auto 15px;
}

.IndexPage .TenantFormMsg a {
	color: #0868b9;
}

.IndexPage .TenantFormMsg a:hover {
	text-decoration: underline;
}

/*FormPages*/
 
.UIPageBody .UIForm {
	margin: 0px;
}

.UIPageBody h1 {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: #2882a3;
	margin: 0px 0px 20px 0px;
}

.UIPageBody table td {
	padding: 0px 0px 20px 0px;
	border: none;
}

.UIPageBody .Field {
	width: 340px;
	text-align: right;
	padding-right: 25px;
	line-height: 40px;
	font-size: 18px;
	color: #414141;
}

.UIPageBody input.InputText {
	-moz-box-shadow: 0 5px 8px #F4F4F4 inset;
	-webkit-box-shadow: 0 5px 8px #F4F4F4 inset;
	box-shadow: 0 5px 8px #F4F4F4 inset;
	width: 300px;
	height: 38px;
	line-height: 36px;
	padding: 0px 10px;
	border: 1px solid #dddddd;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 18px;
	color: #c0c0c0;
	
}

.UIPageBody input.DisabledArea {
	background: #f4f4f4;
}

.UIPageBody .UIForm .Star {
	font-size: 20px;
	color: #ff6666;
	display: inline-block;
	margin-left: 20px;
}

.UIPageBody .SignUpInfo {
	background: url("../background/CheckIcon.gif") no-repeat left top;
	padding-left: 28px;
	width: 575px;
	margin: 0px auto 20px auto;
	line-height: 20px;
	color: #4c4c4c;
	text-align: left;
	color: #7dae19;
}

.UIPageBody .info {
	background: url("../background/InfoIcon.gif") no-repeat left top;
	padding-left: 28px;
	width: 300px;
	line-height: 20px;
	color: #4c4c4c;
}

/*ThanksPages*/
.ThanksPages {
	width: 770px;
}
 
.ThanksPages p {
	color: #666; 
	font-size: 16px; 
	line-height: 26px;
}
 
.ThanksPages h3 {
	color: #303030; 
	font-size: 18px;
	margin: 0px 0px 20px 0px;
	font-weight: normal;
}

.ThanksPages .LeftContent {
	float: left;
	width: 350px;
	padding: 45px 0px;
}

.ThanksPages .RightContent {
	float: left;
	width: 415px;
	padding: 45px 0px;
}

.ThanksPages .RightContent a {
	background: url("../background/ArrowIcon.gif") no-repeat left 7px;
	padding-left: 25px;
	color: #006cc0;
	line-height: 22px;
	font-size: 14px;
	display: block;
	margin-bottom: 20px;
}

.ThanksPages .RightContent a:hover {
	text-decoration: underline;
}

/*AboutPages*/

.AboutPages h1 {
	text-align: left;
}

.AboutPages h3 {
	color: #636363;
	line-height: 30px;
	font-size: 18px;
	margin: 0px 0px 15px 0px;
	font-weight: normal;
	border-bottom: 1px solid #dce7ec;
}

.AboutPages p {
	color: #6b6b6b; 
	font-size: 13px;
	line-height: 22px;
	margin: 0px 0px 30px 0px;
	font-family: verdana;
}

.AboutPages ul {
	width: 435px;
	padding-bottom: 15px;
}


.AboutPages ul.LeftContent {
	float: left;
}

.AboutPages ul.RightContent {
	float: right;
}

.AboutPages ul li {
	background: url("../background/DotIcon.gif") no-repeat 8px 7px;
	padding-left: 30px;
	line-height: 20px;
	color: #6b6b6b;
	margin-bottom: 15px;
	font-family: verdana;
}

.AboutPages ul li span {
	font-weight: bold;
}

/*ErrorPages*/

.ErrorPages {
	text-align: center;
}

.ErrorPages .ErrorIcon {
	background: url("../background/ErrorIcon.gif") no-repeat left top;
	padding-left: 30px;
	display: inline-block;
	color: #666666;
	font-size: 16px;
	margin-bottom: 10px;
}


/* Contact us page */
.MarkLayer{
	background: black;
	opacity: 0.4;
	filter: alpha(opacity=40);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	position: absolute;
}

.ContactPages .UIFormBox {
	position: absolute;
	z-index: 10;
	top: 100px;
	left: 290px;
	background: white;
	border: none;
}

/*Form*/
.UIFormBox {
	border: 1px solid #e0e0e0;
	-moz-box-shadow: 0px 2px 2px #f3f3f3;
	-webkit-box-shadow: 0px 2px 2px #f3f3f3;
	box-shadow: 0px 2px 2px #f3f3f3;
	width: 710px;
	margin: 0px auto;
	font-family: arial;
}

.UIFormBox .TitleForm {
	color: #414141;
	text-align: center;
	line-height: 55px;
	border-bottom: 1px solid #e8e8e8;
	background: #f5f5f5;
	margin: 0px 0px 25px 0px;
	font-size: 24px;
	font-family: arial;
	text-shadow: 0 1px 0 #FFFFFF;
}

.UIFormBox .Field {
	float: left;
	width: 220px;
	text-align: right;
}

.UIFormBox textarea{
	-moz-box-shadow: 0 5px 8px #F4F4F4 inset;
	-webkit-box-shadow: 0 5px 8px #F4F4F4 inset;
	box-shadow: 0 5px 8px #F4F4F4 inset;
	width: 300px;
	height: 100px;
	padding: 5px 10px;
	border: 1px solid #dddddd;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 18px;
	color: #c0c0c0;
	margin-right: 10px;
}

.UIFormBox .Button {
	float: left;
}

.UIFormBox input.ButtonGray {
	background: url("../background/GrayButton.png") repeat-x left top;
	border: 1px solid #9c9c9c;
	margin-left: 20px;
	text-shadow: 0px 1px 0px #1d7aae;
}

/* Invite page */

.InviPages .UIFormBox {
	width: 960px;
	padding: 0 0 30px;
}

.InviPages .PermissionsBox {
	-moz-box-shadow: 0 5px 8px #F4F4F4 inset;
	-webkit-box-shadow: 0 5px 8px #F4F4F4 inset;
	box-shadow: 0 5px 8px #F4F4F4 inset;
	padding: 5px 10px;
	border: 1px solid #dddddd;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 18px;
	color: #c0c0c0;
	margin-right: 10px;
	min-height: 270px;
	*height: 270px;
}

.InviPages .Message{
	margin-left: 550px;
	overflow: hidden;
	width: 410px;
}

.InviPages .LeftInvi{
	padding: 0 0 0 72px;
    width: 400px;
}

.InviPages .LeftInvi p.Title {
	line-height: 44px;
	font-size: 18px;
	color: #414141;
}

.InviPages .Message td.Field {
	text-align: left;
	margin: 0;
	padding: 0;
}

.InviPages .LeftForm {
	text-align: left;
}

.InviPages .RightForm {
	width: 409px;
	margin-bottom: 12px;
}

.InviPages .LeftInvi .Normal{
	padding:8px 4px 8px 32px;
	border-bottom: 1px solid #dddddd;
}

.InviPages .LeftInvi a {
	color: #848484;
}

.InviPages .SelectIcon {
	font-size: 18px;
	background: url("../background/SelectIcon.png") no-repeat left center;
	padding:8px 4px 8px 32px;
	border-bottom: 1px solid #dddddd;
}

 