#InviteGadget {
 border: dashed 1px #E2DDC7;
 margin-right: 15px;
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;
}

#InviteGadget .UIGadgetThemes { 
 padding: 10px 15px 10px 15px;
}

.gadgetTitle {
  margin-bottom: 12px;
  font-weight: bold;
}


.invited-box .Row input[type="text"] {
 border:1px solid #eee;
 width: 100%;
 font-size: 12px;
}

.invited-box .Row input[type="button"] {
 border: 1px solid #DDDDDD;
 border-radius: 4px 4px 4px 4px;
 cursor: pointer;
 width: 100%;
}

.invited-box .Row label {
 display:inline-block;
 /*width:20%;*/
}

.Message {
        padding: 10px 10px;
}

.Warning {
        padding-top: 10px;
        padding-bottom: 10px;
        color: #FF0000;
}


