.UIToolbarContainer .MenuItemContainer .MenuItem a.LastVisited {
    background-color: white;
    cursor: default;
    font-weight: bold;
    padding: 0 22px;
    text-decoration: none;
}

.OfficeMiddleTDContainer {
  border-left: solid 1px #E2DDC7 !important;
}

#UIToolbarContainer .UITableColumnContainer .PinToolbarContainerTDContainer {
  display: none;
}

.UIToolbarContainer .UITableColumnContainer .UISetupPlatformToolBarPortletTDContainer {
  float: right;
  margin-right: 5px;
}

.UIToolbarContainer .UITableColumnContainer .UserInfoPortletTDContainer {
  float: right;
  margin-right: 3px;
}
