<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2011 eXo Platform SAS.

    This is free software; you can redistribute it and/or modify it
    under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation; either version 2.1 of
    the License, or (at your option) any later version.

    This software is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along with this software; if not, write to the Free
    Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
    02110-1301 USA, or see the FSF site: http://www.fsf.org.

-->
<configuration>

   <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <!-- daily rollover -->
         <fileNamePattern>${cloud.admin.log.dir}/%d{yyyy/MM/dd}/cloud-admin-%i.log</fileNamePattern>
         <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
            <!-- or whenever the file size reaches 1MB -->
            <maxFileSize>1MB</maxFileSize>
         </timeBasedFileNamingAndTriggeringPolicy>
      </rollingPolicy>
      <encoder>
         <pattern>%-41(%date[%.15thread])%-45([%-5level] [%.30logger{30} %L]) - %msg%n</pattern>
      </encoder>
   </appender>


   <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
         <pattern>%-41(%date[%.15thread])%-45([%-5level]  [%.30logger{30} %L]) - %msg%n</pattern>
      </encoder>
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
         <level>info</level>
      </filter>
   </appender>


   <appender name="email" class="ch.qos.logback.classic.net.SMTPAppender">
      <SMTPHost>smtp.gmail.com</SMTPHost>
      <SMTPPort>465</SMTPPort>
      <SSL>true</SSL>
      <username>exo.plf.cloud.test1@gmail.com</username>
      <password>exo.plf.cloud.test112321</password>
      <to>logs@cloud-workspaces.com</to>
      <from>exo.plf.cloud.test1@gmail.com</from>
      <subject>Cloud-Admin error: %logger{20} - %m</subject>
      <layout class="ch.qos.logback.classic.PatternLayout">
         <pattern>%-41(%date[%.15thread])%-45([%-5level] [%.30logger{30} %L]) - %msg%n</pattern>
      </layout>
      <bufferSize>1</bufferSize>
   </appender>


   <root level="debug">
      <appender-ref ref="stdout"/>
      <appender-ref ref="file"/>
      <appender-ref ref="email"/>
   </root>
</configuration>
